[project]
name = "cinemagoerng"
version = "0.4"
description = "Retrieve data from the IMDb."
readme = "README.md"

authors = [
    {name = "H. Turgut Uyar", email = "uyar@tekir.org"},
    {name = "Davide Alberani", email = "da@mimante.net"},
]
license = {file = "LICENSE.txt"}

keywords = ["imdb", "cinema", "movie", "film", "cast", "actor", "director"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Intended Audience :: End Users/Desktop",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "Topic :: Database :: Front-Ends",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

requires-python = "~=3.10"
dependencies = [
    "typedload",
    "lxml",
    "jmespath",
]

[project.optional-dependencies]
tests = [
    "pytest",
    "pytest-cov",
]
types = [
    "mypy",
    "lxml-stubs",
    "types-jmespath",
]
style = ["ruff"]
dev = [
    "cinemagoerng[tests,types,style]",
    "build",
    "twine",
    "tox",
]

[project.urls]
repository = "https://github.com/cinemagoer/cinemagoerng"

[project.scripts]
cinemagoerng = "cinemagoerng:cli.main"

[tool.setuptools]
packages = ["cinemagoerng"]
include-package-data = false

[tool.setuptools.package-data]
cinemagoerng = ["specs/*.json"]

[tool.pytest.ini_options]
testpaths = ["tests"]

[tool.coverage.run]
source_pkgs = ["cinemagoerng"]

[tool.coverage.report]
show_missing = true
skip_covered = true

[tool.ruff]
line-length = 120

[tool.ruff.lint]
select = ["A", "E", "F", "I", "T", "W"]

[tool.ruff.lint.per-file-ignores]
"cli.py" = ["T201"]
"tests/*" = ["E501"]

[tool.ruff.lint.isort]
lines-after-imports = 2

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py3{10,11,12,13}, pypy3{10}, types, style
isolated_build = True

[testenv]
extras = tests
package = wheel
wheel_build_env = .pkg
commands =
    pytest

[testenv:coverage]
commands =
    pytest --cov

[testenv:types]
extras = types
commands =
    mypy cinemagoerng

[testenv:style]
skip_install = true
deps =
    ruff
commands =
    ruff check --preview cinemagoerng tests

[testenv:package]
skip_install = true
deps =
    build
    twine
commands =
    python -c "import shutil; shutil.rmtree('dist', ignore_errors=True)"
    python -m build
    twine check dist/*
"""

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"
